* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
  text-align: center;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 20px;
}
/* HEADER */
.header {
  --header-height: 700px;
  background-image: linear-gradient(0, #6F7DFA, #28328F);
  height: var(--header-height);
  padding: 60px 60px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__left {
  font-size: 40px;
  color: white;
}

.nav__right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav__right button {
  background-color: #023047;
}

.section {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.section__left {
  width: 40%;
  color: white;
}

.section__left h1 {
  font-size: 50px;
}

.section__left p {
  font-size: 16px;
  padding: 30px 0;
  font-weight: bold;
  line-height: 30px;
}

.section__left button {
  background-color: #DA722C;
}

.section__number .student {
  margin-top: 100px;
  margin-left: 40px;
  color: #023047;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  box-shadow: 5px 5px 3px 5px #3E4896;
}

.section__number h3 {
  font-size: 36px;
}

.section__number p {
  font-size: 16px;
  font-weight: bold;
}

.section__number .rating {
  margin-right: 40px;
  color: #023047;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  margin-top: 100px;
  box-shadow: 5px 5px 3px 5px #535EC1;
}

.section__number .rating-number {
  display: flex;
  justify-content: space-around;
}

.section__right img {
  height: 526px;
}

/* ABOUT */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  margin: 100px 60px;
}

.about__left {
  width: 90%;
}

.about__item {
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 10px hsl(0deg 4% 11% / 23%);
  position: relative
}

.about__item:first-child::before {
  content: "";
  width: 30px;
  height: 550px;
  background-color: #023047;
  border-radius: 20px;
  z-index: -1;
  top: -40px;
  left: 100px;
  position: absolute;
}

.about__item .review {
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #6F7DFB;
  padding: 30px 30px;
  border-radius: 20px;
}

.about__left .about__item:nth-child(2) .review{
  background-color: #DA722C;
}

.about__item:nth-child(2) {
  left: 20px;
}

.about__item .person {
  color: #023047;
  padding: 30px 30px;
}

.about__item img {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.about__right h1 {
  font-size: 60px;
  color: #023047;
}

.about__right p {
  font-size: 16px;
  color: #023047;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.about__right button {
  background-color: #DA722C;
}

/* COURSE */
.course {
  background: linear-gradient(#6F7DFA, #28328F);
  height: 800px;
  padding: 60px 60px
}

.course h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.course__item {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  margin-bottom: 40px;
}

.item {
  background-color: white;
  border-radius: 20px;
  padding: 0 30px;
  height: 450px;
  color: #023047;
  position: relative;
}

.item::before {
  content: "";
  width: 450px;
  height: 8px;
  background-color: #023047;
  border-radius: 20px;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
}

.item h2 {
  margin-top: 40px;
  line-height: 1.5;
}

.item .item__time {
  font-size: 16px;
  font-weight: bold;
  right: 30px;
  bottom: 70px;
  position: absolute;
}

.item__img img {
  width: 450px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px hsl(0deg 4% 11% / 23%);
}

.course button {
  background-color: #DA722C;
  float: right;
}

/* APP */
.app {
  margin-top: 40px;
  text-align: center;
}

.app h1 {
  font-size: 60px;
  color: #023047;
}

.app p {
  font-size: 16px;
  color: #023047;
  margin-top: 30px;
  margin-bottom: 50px;
}

.app__down {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.app-item {
  background-color: black;
  width: 300px;
  padding: 15px 25px;
  color: white;
  font-size: 20px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* FOOTER */
.footer {
  background-color: #070917;
  padding: 80px 60px;
  color: white;  
}

.footer__item {
  display: flex;
  gap: 200px;
}

.footer__item h4 {
  color:#DA722C;
  font-size: 18px;
  margin-bottom: 30px;
}

.footer__item p {
  margin-bottom: 20px;
  padding-left: 20px;
}

.contact {
  position: relative;
}

.contact__icon {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.contact form {
  padding-left: 20px;
}

.contact input {
  font-size: 16px;
  padding: 20px 30px;
  border: none;
  border-radius: 20px;
  width: 440px;
}

.contact button {
  background-color: #023047;
  position: absolute;
  right: 5px;
  bottom: 12px;
}

.footer .infoweb {
  padding-top: 30px;
}
